.m-lobby {
  flex: 0 0 24em;
  max-width: 24em;
  padding: 2em;
  height: 100%;
  border-radius: 1em 0 0 1em;
  color: white;
  background: #3a3a3f;

  &__title {
    font-size: 2em;
    line-height: 1.2;

    &--small {
      font-size: 1.3em;
    }
  }

  &__list {
    font-size: 1.1em;
  }

  &__user {
    display: flex;
    align-items: center;
    margin: .25em 0;

    &__name {
      font-size: 1.5em;
    }
  }

  svg {
    width: 1.2em;
    margin: .25em .5em 0 0;
  }

  &__button {
    margin-left: .5rem;
    font-weight: 600;
    background: #7cda3d;
    border-radius: .5rem;
    border: 2px solid #7cda3d;
    width: 4rem;
    cursor: pointer;
    transition: all 150ms ease-in-out;

    &:hover, &:focus {
      color: #FAFAFA;
      background: #3a3a3f;
      outline: none;
    }
  }
}
