.message-own {
  display: flex;
  justify-content: flex-end;
  padding: 0 1em;
}

.message-other {
  display: flex;
  justify-content: flex-start;
  padding: 0 1em;
}

.message-admin {
  width: 100%;
  padding: 0 1em;
}

.message-container {
  border-radius: 1rem;
  padding: 1rem 1.25rem;
  display: inline-block;
  margin: .5rem 0;
}

.message-container p {
  width: 100%;
  font-size: 1.1em;
  word-wrap: break-word;
}

.message-admin .message-container {
  background: #7cda3d;
  width: 100%;
}

.message-own .message-container {
  background: #F3F3F3;
  max-width: 80%;
}

.message-other .message-container {
  background: #F3F3F3;
  max-width: 80%;
}

.user {
  color: #828282;
  font-weight: 600;
}