.m-chat-input {
  padding: 0 2em;
  display: flex;

  input {
    border: none;
    font-size: 1.2em;
    border-radius: 1rem 0 0 1rem;
    padding: 1rem 1.25rem;
    height: 4rem;
    width: 100%;
    caret-color: #7cda3d;

    &:focus {
      outline: none;
      border: none;
    }
  }

  button {
    flex: 0 0 4em;
    background: #7cda3d;
    border: none;
    height: 4rem;
    border-radius: 0 1rem 1rem 0;
    cursor: pointer;
  }

  svg {
    margin: .5em auto 0;
    width: 1.5em;
  }
}
